In [1]:
print('hello')

hello

In [4]:
a = 10 #한개짜리 =은 대입을 의미한다.
a == 10 # 같은것을 True와 False로 출력한다.

True

In [7]:
print('Hello World')

Hello World

In [9]:
#IDE (Integrated Developement Environment, 통합개발환경)
# pycharm
# vscode

In [11]:
print('Hello World')

Hello World

In [12]:
a = 10
b = 20

if a<b:
    print(a)
    print('big')
    if a+1 ==2:
        print(a+1)
        print(a+2)
print('end')

10
big
end

In [3]:
friend = 1
a =10
my_name = '박정열'
_yourName = '둘리'
member1 = '도우넛'

# 에러
# friends$ = 1
# a! = 10
# 1abc =  10
# def =10

In [5]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [6]:
가격1 = 2000
print(가격1 - 1000 )

1000

In [11]:
# 치환문

In [ ]:
# literal로 대입

In [12]:
a = 1
# 변수 이름
b = a

In [13]:
print(a,b)

1 1

In [14]:
# 연산식
c = a+b

In [15]:
c

2

In [20]:
# 여러 개를 한번에 치환
e,f,g = 3.5,4.8,9.8
print(e,f,g)

3.5 4.8 9.8

In [23]:
# swap
x =10
y =20
print(x,y)

10 20

In [24]:
# temp
temp = x
x = y
y = temp
print(x,y)

20 10

In [27]:
# 파이썬 swap
x = 100
y = 200
print(x,y)
x,y = y,x
print(x,y)

100 200
200 100

# 부울(boolean) 참이나 거짓을 나타내는 값

In [18]:
b0 = True
b1 = False

In [19]:
a = 1
b = 2

In [20]:
b3 = a>b
print(b3, type(b3))

False <class 'bool'>

In [21]:
b4 =b3*10   # True(1), False(0) 두 리터럴만 가진다.
print(b4)

0

In [22]:
print(True *False)
print(True and False)
print(True or False)

0
False
True

# 정수형

In [27]:
a = 23
b = 20+3

print(a, type(a))
print(b, isinstance(b,bool))
print(b, isinstance(b,int))

23 <class 'int'>
23 False
23 True

In [33]:
# 2진수, 10진수, 8진수, 16진수
c = 0b1101
print(c) #-->> 2진수

13

In [34]:
d = 0o23
print(d) #-->> 8진수

19

In [35]:
e = 0x23
print(e) #-->> 16진수

35

In [ ]:
# python 3.x에서 int,long 합쳐졌다. 따라서 표현범위가 무한대다.

In [45]:
e = 2**1024
print(e, type(e))
print(e.bit_length())

179769313486231590772930519078902473361797697894230657273430081157732675805500963132708477322407536021120113879871393357658789768814416622492847430639474124377767893424865485276302219601246094119453082952085005768838150682342462881473913110540827237163350510684586298239947245938479716304835356329624224137216 <class 'int'>
1025

In [40]:
# 변환함수
print(oct(38))
print(hex(38))
print(bin(38))

0o46
0x26
0b100110

In [50]:
# floot형
a = 1.2
print(a, type(a))
b = 2.0
print(b, type(b))
c = 2.
print(c.is_integer())

1.2 <class 'float'>
2.0 <class 'float'>
True

In [54]:
# 지수표현  0.0001 => 1e--4
# 다른 언어처럼 소수점 표현도 가능하고, E 지수표현도 가능하다.
c = 3e3
print(c, type(c))
e = 0.2e-4
print(e, type(e))

3000.0 <class 'float'>
2e-05 <class 'float'>

In [59]:
# 복소수 실수부 +허수부
# 허수부는 j,J를 숫자뒤에 붙힌다.
a = 4 + 3j
print(a, type(a))
# 복소수 연산
b = 7- 2j
print(a+b)
# 실수는 실수끼리 허수는 허수끼리 계산이 된다.

(4+3j) <class 'complex'>
(11+1j)

In [57]:
a = 10 + 20
b = 10 > 20
(((10 *b) - 10)>a) and (20<a)

False

# 산술연산

In [63]:
# 문자가 여러개 모여있는 것은 string
# 숫자가 여러개 모여있으면 list
#

In [69]:
# 산술연산 +,-,* ,/ 
# 관계연산 > ,< ,>= ,== ,<= 
# 논리연산 True, False
# 비트연산

# 사칙연산

In [75]:
print(2+3)
print(2-3)
print(2*3)
print(2/3)

5
-1
6
0.6666666666666666

In [83]:
# //(몫 연산), **(지수 승), %(나머지)
print(2//3)
print(2**3)
print(2%3)

0
8
2

In [105]:
# divmod()함수  -->>  a에는 몫이 b에는 나머지가 들어간다
result = divmod(2,3) # tuple하나를 입력해주고
print(result, type(result)) 
a,b = result ##  -->> unpacking
print(a,b)

(0, 2) <class 'tuple'>
0 2

# 연산자 우선

In [106]:
# 1.-
# 2.*,/ 
# 3.+,-
print(2+3*4)
print(-2+3*4)
print(-(2+3)*4)

14
10
-20

In [107]:
# 결합순서
# 1. -> : + - * / 
# 2. <- : +(부호), -(부호),=, **
print(2**3**4)
print((2**3)**4)
print(2**(3**4))

2417851639229258349412352
4096
2417851639229258349412352

# 객체의 대소 비교

In [112]:
a = 1
b = 3
print(a > b)
print(2 > 4)
print( 1 <= 3)
print( 1 >=4)
print( 1 == 3)
print( 1 != 3)

False
False
True
False
False
True

In [118]:
# 복합 관계식
# 0 < a < 10
a = 4
print(0 < a and a < 10) # 다른 프로그래밍이랑 다르게 복합관계식이 가능하다 
print(0 < a < 10)

True
True

In [127]:
# 수치형 이외의 다른 타입 비교
print('abcde'> 'abc')
print('aac'>'abc') #ascii 코드를 사용해서 aac가 abc보다 크게 된다.
print([1,2,3] < [1,2,4]) 
print((1,2,3) < (1,2,4))

True
False
True
True

In [139]:
# 동질성 ==
# 동일성 is
a = 20
b = 20
c = a

print(a == b) # True
print(a is b) # True
print(a is c) # True
print(a == c) # True

True
True
True
True

In [159]:
# 논리연산자 (not, or, and)
a = 30
b1 = a <=30
b2 =not b1
b3 = a <= 30 or a >= 100
b4 = a <= 30 and a >= 100
print(b1,b2,b3,b4)

True False True False

In [176]:
# 논리식의 계산순서
print(True or 'logical')
print(False or 'logical')
print([] or 'logical') #[]은 False
print([10,20] or 'logical') # [10,20]은 True이다.
print('operator' or 'logical')
print('' or 'logical')
# 객체가 비어있으면 False라는 논리식이 성립한다.

n = None
print(n or 'logical') # None값도 False값을 가진다.

s = 'Hello World'
s and print(s)

s = ''
s or print(s)

True
logical
logical
[10, 20]
operator
logical
logical
Hello World

In [6]:
print(~5)
print(~-1)

-6
0

In [7]:
# <<연산자
a =4
print(a >> 1)

2

In [15]:
# and(&): True and False -> False 1 & 0 -> 0
# or(|) : True or False -> True 1l0 -> 1
# XOR(^) : True xor False -> True 1^0 -> 1
a = 3
print(a & 2)
1|0

2

1

# 문자열

In [23]:
# 한줄 문자열
s1 = 'Hello World'
s2 = 'Hello\nWorld' # \n을 이용하여 줄을 바꿀 수 있다.
print(s1, type(s1))
print(s2)

Hello World <class 'str'>
Hello
World

In [41]:
# 여러줄 문자열
print('==============Multi_Line string Literal=======================')
s3 = """
Hello World
"""
print(s3, type(s2))
print('==============Multi_Line string Literal=======================')

==============Multi_Line string Literal=======================

Hello World
 <class 'str'>
==============Multi_Line string Literal=======================

In [26]:
# 여러줄 주석을 대신하여 사용할 수 있다.
'''
주석1
주석2
주석3
'''

'\n주석1\n주석2\n주석3\n'

In [38]:
# escape(\붙어있는 문자)
print('==============escape=======================')
print('Hello \nWorld')
print("I say 'hello world'") # 작은따옴표('')를 출력하고 싶으면 ""를 사용하여 출력한다.
print("둘리\t010-0000-0000") # tab을 출력하려면 \t를 사용하여 출력한다.

print('==============escape=======================')

==============escape=======================
Hello
World
I say 'hello world'
둘리	010-0000-0000
==============escape=======================

In [50]:
print('==============문자열 연산=======================')
str1 = 'First String'
str2 = 'Second String'

str3 = str1*3
print(str3)
print('==============문자열 연산: 인덱싱=======================')
print(str1[0],str1[2],str1[3],str1[11])

==============문자열 연산=======================
First StringFirst StringFirst String
==============문자열 연산: 인덱싱=======================
F r s g

In [58]:
print('==============문자열 연산: 연결(concat)=======================')
str4 = str1 +' '+ str2
print(str4)
# 리터럴들을 연결할 때에는 + 생략 가능
str5 = 'hello' ' ' 'World'
print(str5)

==============문자열 연산: 연결(concat)=======================
First String Second String
hello World

In [62]:
# 문자열 객체와 정수 객체는 + 연산을 할 수 없다.
name = '둘리'
age = 10
# print(name + age)
print(name + str(age))

둘리10

In [64]:
print('==============문자열 연산: in, not in=======================')
print('S' in str1)
print('S' not in str2)

==============문자열 연산: in, not in=======================
True
False

In [83]:
print('==============문자열 객체는 변경할 수 없다(immutable)=======================')
# str1[0] = 'f'
# print(str1)

==============문자열 객체는 변경할 수 없다(immutable)=======================

In [72]:
print('==============문자열 연산: 슬라이싱=======================')

==============문자열 연산: 슬라이싱=======================

['Fir', 't String']

In [73]:
print('==============문자열 연산: 객체 함수=======================')

==============문자열 연산: 객체 함수=======================

In [82]:
print('==============문자열 연산: 포멧팅=======================')
epoch = 1000
init = (0,0)
diff = 10

==============문자열 연산: 포멧팅=======================

'epoch = 1000회, 초기값:(0, 0)'