In [1]:
print('hello')

hello

In [2]:
a = 10 #한개짜리 =은 대입을 의미한다.
a == 10 # 같은것을 True와 False로 출력한다.

True

In [3]:
print('Hello World')

Hello World

In [4]:
#IDE (Integrated Developement Environment, 통합개발환경)
# pycharm
# vscode

In [5]:
print('Hello World')

Hello World

In [6]:
a = 10
b = 20

if a<b:
    print(a)
    print('big')
    if a+1 ==2:
        print(a+1)
        print(a+2)
print('end')

10
big
end

In [7]:
friend = 1
a =10
my_name = '박정열'
_yourName = '둘리'
member1 = '도우넛'

# 에러
# friends$ = 1
# a! = 10
# 1abc =  10
# def =10

In [8]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [9]:
가격1 = 2000
print(가격1 - 1000 )

1000

In [10]:
# 치환문

In [11]:
# literal로 대입

In [12]:
a = 1
# 변수 이름
b = a

In [13]:
print(a,b)

1 1

In [14]:
# 연산식
c = a+b

In [15]:
c

2

In [16]:
# 여러 개를 한번에 치환
e,f,g = 3.5,4.8,9.8
print(e,f,g)

3.5 4.8 9.8

In [17]:
# swap
x =10
y =20
print(x,y)

10 20

In [18]:
# temp
temp = x
x = y
y = temp
print(x,y)

20 10

In [19]:
# 파이썬 swap
x = 100
y = 200
print(x,y)
x,y = y,x
print(x,y)

100 200
200 100

# 부울(boolean) 참이나 거짓을 나타내는 값

In [20]:
b0 = True
b1 = False

In [21]:
a = 1
b = 2

In [22]:
b3 = a>b
print(b3, type(b3))

False <class 'bool'>

In [23]:
b4 =b3*10   # True(1), False(0) 두 리터럴만 가진다.
print(b4)

0

In [24]:
print(True *False)
print(True and False)
print(True or False)

0
False
True

# 정수형

In [25]:
a = 23
b = 20+3

print(a, type(a))
print(b, isinstance(b,bool))
print(b, isinstance(b,int))

23 <class 'int'>
23 False
23 True

In [26]:
# 2진수, 10진수, 8진수, 16진수
c = 0b1101
print(c) #-->> 2진수

13

In [27]:
d = 0o23
print(d) #-->> 8진수

19

In [28]:
e = 0x23
print(e) #-->> 16진수

35

In [29]:
# python 3.x에서 int,long 합쳐졌다. 따라서 표현범위가 무한대다.

In [30]:
e = 2**1024
print(e, type(e))
print(e.bit_length())

179769313486231590772930519078902473361797697894230657273430081157732675805500963132708477322407536021120113879871393357658789768814416622492847430639474124377767893424865485276302219601246094119453082952085005768838150682342462881473913110540827237163350510684586298239947245938479716304835356329624224137216 <class 'int'>
1025

In [31]:
# 변환함수
print(oct(38))
print(hex(38))
print(bin(38))

0o46
0x26
0b100110

In [32]:
# floot형
a = 1.2
print(a, type(a))
b = 2.0
print(b, type(b))
c = 2.
print(c.is_integer())

1.2 <class 'float'>
2.0 <class 'float'>
True

In [33]:
# 지수표현  0.0001 => 1e--4
# 다른 언어처럼 소수점 표현도 가능하고, E 지수표현도 가능하다.
c = 3e3
print(c, type(c))
e = 0.2e-4
print(e, type(e))

3000.0 <class 'float'>
2e-05 <class 'float'>

In [34]:
# 복소수 실수부 +허수부
# 허수부는 j,J를 숫자뒤에 붙힌다.
a = 4 + 3j
print(a, type(a))
# 복소수 연산
b = 7- 2j
print(a+b)
# 실수는 실수끼리 허수는 허수끼리 계산이 된다.

(4+3j) <class 'complex'>
(11+1j)

In [35]:
a = 10 + 20
b = 10 > 20
(((10 *b) - 10)>a) and (20<a)

False

# 산술연산

In [36]:
# 문자가 여러개 모여있는 것은 string
# 숫자가 여러개 모여있으면 list
#

In [37]:
# 산술연산 +,-,* ,/ 
# 관계연산 > ,< ,>= ,== ,<= 
# 논리연산 True, False
# 비트연산

# 사칙연산

In [38]:
print(2+3)
print(2-3)
print(2*3)
print(2/3)

5
-1
6
0.6666666666666666

In [39]:
# //(몫 연산), **(지수 승), %(나머지)
print(2//3)
print(2**3)
print(2%3)

0
8
2

In [40]:
# divmod()함수  -->>  a에는 몫이 b에는 나머지가 들어간다
result = divmod(2,3) # tuple하나를 입력해주고
print(result, type(result)) 
a,b = result ##  -->> unpacking
print(a,b)

(0, 2) <class 'tuple'>
0 2

# 연산자 우선

In [41]:
# 1.-
# 2.*,/ 
# 3.+,-
print(2+3*4)
print(-2+3*4)
print(-(2+3)*4)

14
10
-20

In [42]:
# 결합순서
# 1. -> : + - * / 
# 2. <- : +(부호), -(부호),=, **
print(2**3**4)
print((2**3)**4)
print(2**(3**4))

2417851639229258349412352
4096
2417851639229258349412352

# 객체의 대소 비교

In [43]:
a = 1
b = 3
print(a > b)
print(2 > 4)
print( 1 <= 3)
print( 1 >=4)
print( 1 == 3)
print( 1 != 3)

False
False
True
False
False
True

In [44]:
# 복합 관계식
# 0 < a < 10
a = 4
print(0 < a and a < 10) # 다른 프로그래밍이랑 다르게 복합관계식이 가능하다 
print(0 < a < 10)

True
True

In [45]:
# 수치형 이외의 다른 타입 비교
print('abcde'> 'abc')
print('aac'>'abc') #ascii 코드를 사용해서 aac가 abc보다 크게 된다.
print([1,2,3] < [1,2,4]) 
print((1,2,3) < (1,2,4))

True
False
True
True

In [46]:
# 동질성 ==
# 동일성 is
a = 20
b = 20
c = a

print(a == b) # True
print(a is b) # True
print(a is c) # True
print(a == c) # True

True
True
True
True

In [47]:
# 논리연산자 (not, or, and)
a = 30
b1 = a <=30
b2 =not b1
b3 = a <= 30 or a >= 100
b4 = a <= 30 and a >= 100
print(b1,b2,b3,b4)

True False True False

In [48]:
# 논리식의 계산순서
print(True or 'logical')
print(False or 'logical')
print([] or 'logical') #[]은 False
print([10,20] or 'logical') # [10,20]은 True이다.
print('operator' or 'logical')
print('' or 'logical')
# 객체가 비어있으면 False라는 논리식이 성립한다.

n = None
print(n or 'logical') # None값도 False값을 가진다.

s = 'Hello World'
s and print(s)

s = ''
s or print(s)

True
logical
logical
[10, 20]
operator
logical
logical
Hello World

In [49]:
print(~5)
print(~-1)

-6
0

In [50]:
# <<연산자
a =4
print(a >> 1)

2

In [51]:
# and(&): True and False -> False 1 & 0 -> 0
# or(|) : True or False -> True 1l0 -> 1
# XOR(^) : True xor False -> True 1^0 -> 1
a = 3
print(a & 2)
1|0

2

1

# 문자열

In [52]:
# 한줄 문자열
s1 = 'Hello World'
s2 = 'Hello\nWorld' # \n을 이용하여 줄을 바꿀 수 있다.
print(s1, type(s1))
print(s2)

Hello World <class 'str'>
Hello
World

In [53]:
# 여러줄 문자열
print('==============Multi_Line string Literal=======================')
s3 = """
Hello World
"""
print(s3, type(s2))
print('==============Multi_Line string Literal=======================')

==============Multi_Line string Literal=======================

Hello World
 <class 'str'>
==============Multi_Line string Literal=======================

In [54]:
# 여러줄 주석을 대신하여 사용할 수 있다.
'''
주석1
주석2
주석3
'''

'\n주석1\n주석2\n주석3\n'

In [55]:
# escape(\붙어있는 문자)
print('==============escape=======================')
print('Hello \nWorld')
print("I say 'hello world'") # 작은따옴표('')를 출력하고 싶으면 ""를 사용하여 출력한다.
print("둘리\t010-0000-0000") # tab을 출력하려면 \t를 사용하여 출력한다.

print('==============escape=======================')

==============escape=======================
Hello
World
I say 'hello world'
둘리	010-0000-0000
==============escape=======================

In [56]:
print('==============문자열 연산=======================')
str1 = 'First String'
str2 = 'Second String'

str3 = str1*3
print(str3)
print('==============문자열 연산: 인덱싱=======================')
print(str1[0],str1[2],str1[3],str1[11])

==============문자열 연산=======================
First StringFirst StringFirst String
==============문자열 연산: 인덱싱=======================
F r s g

In [57]:
print('==============문자열 연산: 연결(concat)=======================')
str4 = str1 +' '+ str2
print(str4)
# 리터럴들을 연결할 때에는 + 생략 가능
str5 = 'hello' ' ' 'World'
print(str5)

==============문자열 연산: 연결(concat)=======================
First String Second String
hello World

In [58]:
# 문자열 객체와 정수 객체는 + 연산을 할 수 없다.
name = '둘리'
age = 10
# print(name + age)
print(name + str(age))

둘리10

In [59]:
print('==============문자열 연산: in, not in=======================')
print('S' in str1)
print('S' not in str2)

==============문자열 연산: in, not in=======================
True
False

In [60]:
print('==============문자열 객체는 변경할 수 없다(immutable)=======================')
# str1[0] = 'f'
# print(str1)

==============문자열 객체는 변경할 수 없다(immutable)=======================

In [61]:
print('==============문자열 연산: 슬라이싱=======================')
str6 = str2[2:5]
print(str6)
str7 = str2[2:]
print(str7)
str8 = str2[:]
print(str8)

==============문자열 연산: 슬라이싱=======================
con
cond String
Second String

In [62]:
print('==============문자열 연산: 객체 함수=======================')
s1 = 'i like Python'
print(s1.upper())
print(s1.lower())
print(s1.swapcase()) #대문자를 소문자로 소문자를 대문자로 바꿔준다.
print(s1.capitalize()) # 문장의 첫단어를 대문자로 바꿔준다
print(s.title()) # 단어들의 맨 앞을 소문자로 바꿔준다.

# 검색 관련 함수
s = 'I Like Python, I Like Deep Learning Also'
print(s.count('Like'))
print(s.find('Like'))
print(s.find('Like', 5)) # 5번째 부터 Like를 찾아라
print(s.find('AI')) #결과값이 없으면 -1로 표시된다.
print(s.rfind('Like'))

# print(s.index('AI')) -->> index가 없다면 에러가 발생한다.
try:
    print(s.index('AI'))
except ValueError as e:
    print('index() 함수는 발견하지 못하면 예외가 발생한다.') # error 내용을 지시할 수 있다.


print(s.rindex('Like'))
print(s.startswith('I Like')) # 문장이 I Like로 시작하는지를 알려준다.

print(s.endswith('Also')) #문장이 Also로 끝나는지를 알려준다.
print(s.endswith('Python',0, 13)) # 문장이 python으로 끝나는지 알려준다.

==============문자열 연산: 객체 함수=======================
I LIKE PYTHON
i like python
I LIKE pYTHON
I like python

2
2
17
-1
17
index() 함수는 발견하지 못하면 예외가 발생한다.
17
True
True
True

In [63]:
# 편집 및 치환
s = '    spam and ham     '
print('-------' + s.strip() + '-------') # s.strip()은 공백을 없앤다.
print('-------' + s.rstrip() + '-------') # s.rstrip()은 오른쪽으로
print('-------' + s.lstrip() + '-------') # s.lstrip()은 왼쪽으로

s = '<><><abc><><defg><><>'
print('-------' + s.strip('<>') + '-------') #양쪽끝의 <>를 제거한다.

s = ' Hello Python Python Python'
print(s.replace('Python','Java')) # Python이라는 단어를 Java로 바꾼다.

# 분리
s = 'one:two:three'
r=s.split(':',2)
print(r, type)
lines= '''1st line
2nd line
3rd line
4th line'''

r = lines.split('\n')
print(r)
r = lines.splitlines()   #줄이 넘어가는 것을 기준으로 list로 분리한다.
print(r)

# 결합
s = ' '.join(r)
print(s)

# 판별
print('1234'.isdigit()) # 숫자인지 구분해준다
print('abcd'.isdigit())
print('abcd'.isalpha()) # 알파벳인지 구분해준다
print('1234'.isalpha())
print('ABCDEFG'.isupper()) # 대문자인지 확인한다.

-------spam and ham-------
-------    spam and ham-------
-------spam and ham     -------
-------abc><><defg-------
 Hello Java Java Java
['one', 'two', 'three'] <class 'type'>
['1st line', '2nd line', '3rd line', '4th line']
['1st line', '2nd line', '3rd line', '4th line']
1st line 2nd line 3rd line 4th line
True
False
True
False
True

In [64]:
print('==============문자열 연산: 포멧팅=======================')
name = '둘리'
age = 10

#'name: 둘리, age: 10'-->> 이렇게 출력을 하고 싶다
f1 = 'name:' + name + ',age:' + str(age)
print(f1)

f2 = 'name: {},age: {}'
print(f2.format(name,age)) #순서대로 집어넣는다. but 순서를 기억해야한다.

f3 = 'name: {1},age: {0}'
print(f3.format(age,name))

f4 = f'name: {name},age: {age}' # 이것이 제일 편하다 별표!!!!!!
print(f4)

==============문자열 연산: 포멧팅=======================
name:둘리,age:10
name: 둘리,age: 10
name: 둘리,age: 10
name: 둘리,age: 10

# list

In [65]:
l1 = []
l2 = [1,True, 'Python',3.14]

# 인덱싱
print(l2[0],l2[1],l2[2],l2[3])
print(l2[-4],l2[-3],l2[-2],l2[-1])

1 True Python 3.14
1 True Python 3.14

### slicing
print(len(l2))

In [66]:
# 반복
l3 = l2*2
print(l3) # 2번 반복된다.

[1, True, 'Python', 3.14, 1, True, 'Python', 3.14]

In [67]:
# 연결
l4 = l2 + [1,2,3]
print(l4)

[1, True, 'Python', 3.14, 1, 2, 3]

In [68]:
# in, not in
print(5 in l4) # bool 형태로 나오게 된다.
print(5 not in l4)

False
True

In [69]:
l5 = [0,1,2,3,4,5]
print(l5[1:4])
print(l5[0:6])
print(l5[:])
print(l5[2:])
print(l5[5::4])
print(l5[-1::-1])

[1, 2, 3]
[0, 1, 2, 3, 4, 5]
[0, 1, 2, 3, 4, 5]
[2, 3, 4, 5]
[5]
[5, 4, 3, 2, 1, 0]

In [70]:
# 변경가능한 객체
del l5[2]
print(l5)
l5[1] = l5[1]+1
print(l5)

[0, 1, 3, 4, 5]
[0, 2, 3, 4, 5]

In [71]:
# 치환:slicing
a = [1,12,123,1234]
a[0:2] = [10,20]
print(a)
a[0:2] = [100]
print(a)

a[1:2] = [200]
print(a)

a[2:3] = [300,400,500]
print(a)

[10, 20, 123, 1234]
[100, 123, 1234]
[100, 200, 1234]
[100, 200, 300, 400, 500]

In [72]:
# 삭제 :slicing
a = [1,12,123,1234]
a[1:2] = [ ]
print(a)
a[0:] = []
print(a)

[1, 123, 1234]
[]

In [98]:
# 중간삽입
a = [1,12,123,1234]
a[1:1] = ['a']
print(a)

[1, 'a', 12, 123, 1234]

In [100]:
# 마지막 삽입
a.insert(5,12345)
print(a)

[1, 'a', 12, 123, 1234, 12345]

In [101]:
# 처음 삽입
a[:0] = [0]
print(a)

[0, 1, 'a', 12, 123, 1234, 12345]

In [102]:
# 여러개 삽입
a[2:2] = [-12,-1,0]
print(a)

[0, 1, -12, -1, 0, 'a', 12, 123, 1234, 12345]

In [103]:
# 객체함수 : 삽입
a = [1,3,4]
a.insert(1,2) # a[1]에 2를 삽입한다.
print(a)

[1, 2, 3, 4]

In [104]:
# 뒤에 삽입
a.append(5) 
print(a)

[1, 2, 3, 4, 5]

In [105]:
# 앞에 삽입
a.insert(0,0)
print(a)

[0, 1, 2, 3, 4, 5]

In [106]:
# reverse
a.reverse()
print(a)

[5, 4, 3, 2, 1, 0]

In [107]:
# 값으로 삭제
a.remove(3)
print(a)

[5, 4, 2, 1, 0]

In [108]:
try:
    a.remove(3)
except ValueError as e:
    print('값이 없는 경우 삭제시 예외 발생')

값이 없는 경우 삭제시 예외 발생

In [109]:
# 스택(stack)으로 사용하기 하나씩 리스트에 넣은다음 후입선출방식으로 뺴내는 방법이다.
stck = [] 
stck.append(10) # push 10
stck.append(20)
stck.append(30)
print(stck)

print(stck.pop())
print(stck.pop())
print(stck.pop())
print(stck)

stck.insert(0,10)
stck.insert(1,20)
stck.insert(2,30)
print(stck)

print(stck.pop())
print(stck.pop())
print(stck.pop())
print(stck)

[10, 20, 30]
30
20
10
[]
[10, 20, 30]
30
20
10
[]

In [110]:
# 큐(Queue) 선입선출방식으로 먼저 넣은걸 뺀다
q = [1,2]
q.append(3)
q.append(4)
q.append(5)
print(q)

print(q.pop(0))
print(q.pop(0))
print(q.pop(0))
print(q.pop(0))
print(q.pop(0))
print(q)

[1, 2, 3, 4, 5]
1
2
3
4
5
[]

# 셋(Set)

In [111]:
s = {1,2,3}
print(s, type(s))

{1, 2, 3} <class 'set'>

In [112]:
# 기본 연산
print(len(s))
print(2 in s)
print(10 not in s)

3
True
True

In [113]:
# list의 중복성 제거 -->> set은 중복성이 없으므로 set으로 바꾼다음 다시 리스트로 바꿔준다.
word_list = ['a','hello','java','python','python','ai','hello','ai']
words = set(word_list) # 어떠한 것이 들어있는지 확인하고
print(words, type(words))
world_list2 = list(words)
print(world_list2, type(world_list2))
#리스트는 count함수를 사용 가능하다.
print(word_list.count('a')) # 몇개 들어있는지 확인한다
print(word_list.count('hello'))
print(word_list.count('java'))
print(word_list.count('python'))
print(word_list.count('ai'))

#for w in words:
#    count = word_list.count(w)
#    print(f'{w}:{count}')

{'a', 'ai', 'hello', 'python', 'java'} <class 'set'>
['a', 'ai', 'hello', 'python', 'java'] <class 'list'>
1
2
1
2
2

# Tuple

In [114]:
# 생성
t1 = ()
t2 = (1,)
t3 = (1,2,3)
print(t3, type(t3))

(1, 2, 3) <class 'tuple'>

In [115]:
# 인덱싱
print(t3[-3],t3[-2],t3[-1],t3[0],t3[1],t3[2])

1 2 3 1 2 3

In [116]:
# 슬라이싱(slicing)
print(t3[1:3])
print(t3[::])
print(t3[::-1])

(2, 3)
(1, 2, 3)
(3, 2, 1)

In [117]:
# 반복
t4 = t3*2
print(t4)

(1, 2, 3, 1, 2, 3)

In [118]:
# 연결
t5=t3 + (4,5,6)
print(t5)

(1, 2, 3, 4, 5, 6)

In [119]:
# 길이 구하기
len(t5)

6

In [120]:
# not, not in 연산
print(5 in t5)

True

In [121]:
# immutable
#t6 = ('apple','banana',10,20)
# t6[2] = 90 -->> 오류가 발생한다.(tuple은 값을 바꿀수 없기 때문이다.)

In [122]:
# 여러값 대입
t = (10,20,30)
x,y,z =t
print(t)
x,y,z = 10,20,30
print(x,y,z)

(10, 20, 30)
10 20 30

In [123]:
# 여러값 치환
x, y = 10,20
print(x,y)
y,x = x,y
print(x,y)

10 20
20 10

In [124]:
# 객체함수
t = (20,30,40,50,20)
print(t.index(30))
print(t.count(20))

1
2

In [125]:
# 변환
s = set(t)
print(s, type(s))

{40, 50, 20, 30} <class 'set'>

In [126]:
# 변환2 (tuple -> list, list ->  tuple)
l1 = list(t)
print(l1,type(l1))
l2 = tuple(l1)
print(l2,type(l2))

[20, 30, 40, 50, 20] <class 'list'>
(20, 30, 40, 50, 20) <class 'tuple'>

# packing

In [127]:
# packing은 tuple로만 가능하다
t = 10,20,30, 'python'
print(t, type(t))

(10, 20, 30, 'python') <class 'tuple'>

In [128]:
# unpacking
a,b,c,d = t
print(a,b,c,d)

10 20 30 python

In [129]:
# a,b,c,d,e = t -->> 오류가 뜬다 길이가 안맞기 떄문에
# unpacking 확장
t = (1,2,3,4,5)
a, *b = t
print(a,b)

1 [2, 3, 4, 5]

In [130]:
*a,b = t
print(a,b)

[1, 2, 3, 4] 5

In [131]:
a,*b,c =t
print(a,b,c)

1 [2, 3, 4] 5

# Dict

In [132]:
# 생성
d1 = {'basketball':5, 'baseball':9}
print(d1, type(d1))

{'basketball': 5, 'baseball': 9} <class 'dict'>

In [133]:
d2 = dict()
print(d2, type(d2))

{} <class 'dict'>

In [134]:
d3 = dict(one = 1,two =2, three=3,four =4, five=5)
print(d3,type(d3))

{'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5} <class 'dict'>

In [135]:
d4 = dict([('one',1),('two',2),('three',3),('four',4)])
d4

{'one': 1, 'two': 2, 'three': 3, 'four': 4}

In [136]:
# 인덱스 대신에 키로 데이터 접근
print(d1['baseball'])

9

In [137]:
# *,+ 연산은 지원하지 않는다.
# d5 = d1+{'valleyball':6}
# d5 = d1*2

In [138]:
# 크기
print(len(d1))

2

In [139]:
# not, not in
print('soccer' in d1)
print('soccer' not in d1)

False
True

In [140]:
# 다양한 타입의 키를 사용할 수 있다.
d6 ={}
print(d6)
# dict에 값을 추가할 수 있다.
d6['twenty'] = 20
d6[True] = 1
d6[10] = 'Ten'
print(d6)

{}
{'twenty': 20, True: 1, 10: 'Ten'}

In [141]:
# 키로 변경가능한 타입을 사용할 수 없다
# d6[[1,2,3]] = 6

In [142]:
# 객체함수
keys = d6.keys()
print(keys, type(keys)) #키 값만 뽑아낼수 있다.

dict_keys(['twenty', True, 10]) <class 'dict_keys'>

In [143]:
values = d6.values() # value 값만 뽑아낸다.
print(values, type(values))

dict_values([20, 1, 'Ten']) <class 'dict_values'>

In [144]:
item = d6.items()
print(item, type(item))

dict_items([('twenty', 20), (True, 1), (10, 'Ten')]) <class 'dict_items'>

In [145]:
# dict에 key와 value 추가
phones = {'둘리': '000-0000-0000',
         '마이콜':'111-1111-1111',
         '또치':'222-2222-2222'}
print(phones, type(phones))
phones['도우너']='333-3333-3333'
print(phones)

{'둘리': '000-0000-0000', '마이콜': '111-1111-1111', '또치': '222-2222-2222'} <class 'dict'>
{'둘리': '000-0000-0000', '마이콜': '111-1111-1111', '또치': '222-2222-2222', '도우너': '333-3333-3333'}

In [146]:
p = phones
print(p)
print(phones)

{'둘리': '000-0000-0000', '마이콜': '111-1111-1111', '또치': '222-2222-2222', '도우너': '333-3333-3333'}
{'둘리': '000-0000-0000', '마이콜': '111-1111-1111', '또치': '222-2222-2222', '도우너': '333-3333-3333'}

In [147]:
p = phones.copy()
print(phones)
print(p)
phones['길동이'] = '444-4444-4444'
print(phones)
print(p)

{'둘리': '000-0000-0000', '마이콜': '111-1111-1111', '또치': '222-2222-2222', '도우너': '333-3333-3333'}
{'둘리': '000-0000-0000', '마이콜': '111-1111-1111', '또치': '222-2222-2222', '도우너': '333-3333-3333'}
{'둘리': '000-0000-0000', '마이콜': '111-1111-1111', '또치': '222-2222-2222', '도우너': '333-3333-3333', '길동이': '444-4444-4444'}
{'둘리': '000-0000-0000', '마이콜': '111-1111-1111', '또치': '222-2222-2222', '도우너': '333-3333-3333'}

In [148]:
# 객체함수:get()
# get()을 사용하는 이유: 키가 없는 경우에 None으로 반환받을 수 있다.
# print(p['고길동']) -->> 키가 없을 때는 error가 일어난다.
# []를 사용하면 키가 없는 경우에 예외가 발생한다.
print(p.get('둘리'))
print(p.get('고길동')) # None값이 나오게 된다.

000-0000-0000
None

In [149]:
# 객체함수: setdefault()
print(p.setdefault('고길동','---')) #고길동이 없으면 ---를 출력한다
print(p) # 고길동이 없으므로 key는 고길동, value는 ---를 출력한다.

---
{'둘리': '000-0000-0000', '마이콜': '111-1111-1111', '또치': '222-2222-2222', '도우너': '333-3333-3333', '고길동': '---'}

In [150]:
# 객체함수: pop()
print(p.pop('둘리'))
print(p)

000-0000-0000
{'마이콜': '111-1111-1111', '또치': '222-2222-2222', '도우너': '333-3333-3333', '고길동': '---'}

In [155]:
# 객체함수:clear()
p.clear() # 값을 전부 없앤다.
print(p)

{}

In [152]:
# 순회
d7 = {'c':3, 'a':1, 'b':2}
for key in d7:
    print(key,end=' ')
    
for key in d7.keys():
    print(key, end = ' ')

c a b c a b

In [153]:
print(d7.items())

dict_items([('c', 3), ('a', 1), ('b', 2)])

In [154]:
for key,value in d7.items():
    print(f'key = {key},value = {value}')

key = c,value = 3
key = a,value = 1
key = b,value = 2